.recordsPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doughnutGraph {
    margin: 200px 0 0 0 ;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.recordsCenterGraphLinearContainer {
    margin: 255px 100px 0 100px;
}

.middleGraphContainer {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    min-height: 300px;
    background-color: rgb(148, 255, 250);
    border: 1.7px solid black;
    border-radius: 2%;
}

.middleGraphContainerTopPart {
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(123, 224, 255);
    margin: 5px 0;

    h2 {
        margin: 0;
    }
}

.middleGraphContainerCenterPart {
    margin: 57px 0;
    text-align: center;
    font-size: 23px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.middleGraphContainerBottomPart {
    margin: 0 2em ;
    font-size: 14px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}