.recordsPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.doughnutGraph {
    margin: 200px 0 0 0 ;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.recordsCenterGraphLinearContainer {
    margin: 200px 100px 0 100px ;
    width: 500px;
    height: 350px;
}


