.gridContainer {
    margin-top: 7%;
}

.firstWidgetContainer {
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
}

.homePageLastRecordsContainer {
    padding: 10px 20px;
}