.gridContainer {
    margin-top: 7%;
}

.firstWidgetContainer {
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
}

.homePageLastRecordsContainer {
    padding: 10px 20px;
}

.widgetContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2%;
    text-align: center;
}

.firstWidgetChartContainer,
.secondWidgetChartContainer,
.fourthWidgetChartContainer,
.fifthWidgetChartContainer,
.sixthWidgetChartContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 240px;
}

.widgetChartHeadingContainer h2 {
    font-size: 24px;
    padding-top: 25px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.filtersSelectComp {
    width: 320px;
    margin-left: 40%;
    border: 0.5px solid black;
}

.filtersSelectComp {
    margin-bottom: 1em;
}

.incomeBarContainer {
    margin-bottom: 2em;
}

.thirdWidgetChartContainer {
    display: flex;
    flex-direction: column;
    padding: 5px 30px;
    min-height: 240px;
}
