.homePageRow {
    margin-top: 7%;
}

.homePageForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.homepageHeading {
    align-self: center;
    margin: 0 0 50px 0;
    font-size: 30px;
}

.homepageTypeAmount {
    justify-content: center;
}

// ----------------------------------

:global(.ant-tabs-nav-wrap) {
    display: flex;
    justify-content: center;
}

:global(.ant-tabs-tab) {
    display: flex;
    justify-content: center;
    width: 8rem;
    height: 2rem;
}

:global(.ant-form-item-label) {
    margin-left: 5rem;
    padding-right: 5rem;
}

.expenseTab {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.topRecordsPart {
    margin:30px 0 70px 0;
}

.bottomRecordsPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addRecordsButtonContainer {
    display: flex;
    justify-content: center;
}

.addRecordsButton {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 40px 0;
}

.modalButtonContainer {
    margin: 100px;
}