.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.loginHeading {
    align-self: center;
    margin: 0 0 20px 0;
    font-size: 30px;
}

.loginCard {
    min-width: 500px;
}

.loginRow {
    margin-top: 7%;
}

.accLink {
    display: flex;
    justify-content: center;
}

.loginBtn {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.errorMsg {
    margin-bottom: 1em;
}