.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.registerHeading {
    align-self: center;
    margin: 0 0 20px 0;
    font-size: 30px;
}

.registerCard {
    min-width: 500px;
    min-height: 200px;
}

.registerRow {
    margin-top: 7%;
}