.analyticsPageContainer {
    margin-top: 7%;
    display: flex;
    padding: 15px;
}

.analyticsList {
    width: 1000px;
}

.priceContainer{
    font-weight: bold;
    margin-left: 30px;
}

.time {
    margin-left: 15px;
}

.analyticsListContainer {
    margin-left: 60px;
    padding: 10px 30px;
    background-color: white;
    border-radius: 15px;
}

.analyticsMenu {
    border-radius: 15px;
}
